[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_size = 2
indent_style = space

[Makefile]
indent_style = tab

[*.{cs, fs, fsi}]
end_of_line = crlf
indent_size = 4

[*.{cs, fs, csproj, fsproj, wapproj, sln}]
charset = utf-8-bom
end_of_line = crlf
